[submodule "timecard-rust-api"]
	path = timecard-rust-api
	url = https://github.com/yhonda-ohishi-pub-dev/timecard-rust-api.git
	branch = main
[submodule "timecard-cf-worker"]
	path = timecard-cf-worker
	url = https://github.com/yhonda-ohishi-pub-dev/timecard-cf-worker.git
	branch = main
